* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

header, footer {
    background-color: #1F2937;
  }

nav {
    display: flex;
    justify-content: space-around;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

#nav-list {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.nav-items {
    list-style-type: none;
    margin-left: 1.5rem;
}

#header-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
#header-second {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 12px;
}

#heroTextImg {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#header-text {
    height: 300px;
    width: 450px;
    margin-left: 50px;
}

#header-image {
    height: 200px;
    width: 500px;
    margin-left: 100px;
    margin-right: 50px;
}

button {
    background-color: #3882F6;
    padding: 5px 25px;
    border-radius: 5px;
    color: #E5E7EB;
}
#heroButton {
    border: none;
}
#callButton {
    border: 2px solid white;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 25px;
}

/*main section with images and text*/

#mainHeaderTitle {
    display: flex;
    justify-content: center;
}

#mainTitle {
    margin-bottom: 30px;
    margin-top: 30px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;

}
#imgAndsubtext {
    display: flex;
    justify-content: center;
}
.mainImage {
    height: 175px;
    width: 175px;
    border-radius: 7px;
    border: 2px solid #3882F6;
    
}

.mainImgBlock {
    width: 175px;
    margin-left: 3rem;
    color: #1F2937;
}

/*quote block section*/

#quoteSection {
    background-color: #E5E7EB;
    width: 100%;
    margin-top: 50px;
    padding: 5% 5%;
    
}

#quoteBlock {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    padding-left: 50px;
    padding-right: 50px;
}
#quoteSignature {
    color: #1F2937;
    font-size: 24px;
    padding-left: 75%;
}

/*call to action section*/

#callToAction {
    background-color: #3882F6;
    margin: 60px 5%;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 30px;
}

#callMain {
    font-size: 24px;
    color: #E5E7EB;
    /*padding-top: 50px;*/

}

#callSecondary {
    font-size: 18px;
    color: #E5E7EB;
}

#callMain, #callSecondary {
    padding-left: 75px;
 
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #E5E7EB;
}

