* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

header, footer {
    background-color: #1F2937;
  }

nav {
    display: flex;
    justify-content: space-around;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

#nav-list {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.nav-items {
    list-style-type: none;
    margin-left: 1.5rem;
}

#header-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
#header-second {
    font-size: 18px;
    color: #E5E7EB;
}

#heroTextImg {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#header-text {
    height: 300px;
    width: 450px;
    margin-left: 50px;
}

#header-image {
    height: 200px;
    width: 500px;
    margin-left: 100px;
    margin-right: 50px;
}

button {
    background-color: #3882F6;
}